<header>
      <section class="topo">
        <section class="logo">
          <h1><a href="/">Livraria de Todos</a></h1>
          <p>Educação e cultura ao alcance de todos!</p>
        </section>
        <section class="login-link">
          <h4>Olá, seja bem vindo(a)!</h4>
          <a href="/login">Entre ou Cadastre-se</a>
        </section>
      </section>

      <nav>
        <a href="/">Home</a>
        <a href="/search">Pesquisa</a>
        <a href="/perfil">Perfil</a>
        <a href="/about">Sobre nós</a>
      </nav>
    </header>