<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/books.ico">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Livraria</title>
</head>

<body>
    <header>

        <div class="main-header">
            <div id="site-name">
                <h1><p class="head"> Livraria de todos </p></h1>                
                <p class="text"> educacao e cultura ao alcance de todos</p>
            </div>

            <div class="login">
                <p class="text login-text">Ola, seja bem vindo(a)!</p>
                <p class="text">entre ou cadastre-se</p>
            </div>
            

        </div>
        

        <ul id="nav-sticky">
            <li><a href="#">Home</a></li>
            <li><a href="/search">Pesquisa</a></li>
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/about">Sobre nós</a></li>
        </ul>   

    </header>
    <main>
        <div class="intro-box">
            <img src="/images/book-stand.jpg" alt="">

            <div class="intro-text">
                <h2><p class="title">Livro de enfeite? <br><strong>nunca mais</strong></p></h2> 
                <hr>
                <p class="text">Sabe aquele livro que você terminou e que provavelmente não voltara a ler? <br>Há outras pessoas que podem estar interessadas nele.</p>
            </div>

        </div>

        <div class="info-box">
            <div class="info-img">
                <img src="/images/open-book.jpg" alt="">
            </div>
            <div class="info-text">
                <p class="title"><strong>compartilhe</strong> a experiencia <br> com outras pessoas!</p>
                <hr>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minima, non quas
                molestias quod eaque.</p>
                <button>mais informacoes</button>

            </div>
           
        </div>
        
        <div class="feat-box">
            
            <div class="feat-text">
                <button id="move-left" onclick="scrollPage('left')">left</button>
                <p class="title">Os mais <strong>procurados</strong></p>
                <button id="move-right" onclick="scrollPage('left')">right</button>
            </div>

            <div id="most-wanted">
                <div class="pos1">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>                    
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
                <div class="pos2">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
                <div class="pos3">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
                <div class="pos4">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
                <div class="pos5">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
                <div class="pos6">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
                <div class="pos7">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
                <div class="pos8">
                    <a href="/livro"><img src="/images/hitchhiker.jpg" alt=""></a>
                    <p class="feat-title">Hitchhiker's Guide to the Galaxy</p>
                </div>
            </div>
        </div>
    </main>
    <footer>

        <div class="socials">
            <a href="#"><img src="/images/facebook.ico" alt=""></a>
            <a href="#"><img src="/images/twitter.ico"  alt=""></a>
            <a href="#"><img src="/images/whatsapp.ico" alt=""></a>
            <a href="#"><img src="/images/youtube.ico"  alt=""></a>
        </div>

        <div class="info">
            <p>INFORMACOES</p>
            <ul class="info-list">
                <li><a href="#">Dicas</a></li>
                <li><a href="#">Duvidas Frequentes</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Termos de Uso</a></li>
            </ul>
        </div>      

    </footer>
</body>
   
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap');
</style>

<script src="controllers/home.js"></script>