<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href=""/images/books.ico">
    <link rel="stylesheet" href="/stylesheets/livro.css">
    <title>Livraria</title>
</head>

<body>
    <header>
        <!-- O header ficou em duas DIVs com DisplayFlex, uma com nome e outra com o link de login e cadastro-->
        <div>
            <h1 href="#">Livraria para todos</h1>
            <p>Educação e cultura ao alcance de todos!</p>
        </div>
        <div class="login-link">
            <h4>Olá, seja bem vindo(a)!</h4>
            <p href="#">Entre ou cadastre-se</p>

        </div>
    </header>

    <!-- O menu NAV ficou dividido em 2 DIVs, se for deslocado para a lateral tera de sair do NAV e ir para
    outra classe, ASIDE, segundo recomendações do Mozilla DEvs -->
    <nav>
        <ul class="nav-menu">
            <li href="#">Home</li>
            <li href="#">Pesquisa</li>
            <li href="#">Perfil</li>
            <li href="#">Sobre nós</li>
        </ul>


        <!-- menu-mini-nav-->
        <ul>
            <li href="#">Filmes e series</li>
            <li href="#">Infantis</li>
            <li href="#">Geek</li>
            <li href="#">Estudos</li>
            <li href="#">Religiosos</li>
            <li href="#">Ficção</li>
        </ul>

    </nav>
    <hr>
    <main>
        <div class="book-box">
            <div class="book-information">
                <h3 class="title"><strong>Title</strong></h3>
                <img src="/images/hitchhiker.jpg" alt="">

                <div class="book-description">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quis pariatur asperiores. Sint maxime numquam reiciendis error assumenda recusandae placeat ducimus fugit dolor molestiae eligendi commodi alias, voluptates quo eos.</p>
                </div>
            </div>
            <div class="book-owner">
                <h3 class="title">Quem tem o livro?</h3>
                <table class="text">
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Marcos Antonio<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>José Claudio<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Pedro da Silva<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Maria Gabriela<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Marcio Nunes<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Laura dos Santos<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Ana Furtado<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Fernando Lim<br>São Paulo</td>
                    </tr>
                </table>
            </div>
            <div class="book-desire">
                <h3 class="title">Quem quer o livro?</h3>
                <table class="text">
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Marcos Antonio<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>José Claudio<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Pedro da Silva<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Maria Gabriela<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Marcio Nunes<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Laura dos Santos<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Ana Furtado<br>São Paulo</td>
                    </tr>
                    <tr>
                        <td><img src="/images/perfil.png" alt=""></td>
                        <td>Fernando Lim<br>São Paulo</td>
                    </tr>
                </table>
            </div>

        </div>

        <hr>
        
        <div class="feat-align">
            
            <div class="feat-text">

                <p class="feat-left title">Os mais <strong>procurados</strong></p>
                <p class="feat-left text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minima, non quas
                molestias quod eaque.</p>

            </div>
            <div class="feat-box">
                <div class="feat pos1">
                    <img src="/images/hitchhiker.jpg" alt="">
                    <p class="feat-title">hitchhiker's guide</p>
                </div>
                <div class="feat pos2">
                    <img src="/images/hitchhiker.jpg" alt="">
                    <p class="feat-title">hitchhiker's guide</p>
                </div>
                <div class="feat pos3">
                    <img src="/images/hitchhiker.jpg" alt="">
                    <p class="feat-title">hitchhiker's guide</p>
                </div>
                <div class="feat pos4">
                    <img src="/images/hitchhiker.jpg" alt="">
                    <p class="feat-title">hitchhiker's guide</p>
                </div>
            </div>
        </div>
    </main>
    <footer>©Copyright 2021 por Grupo 5 da DH. Todos os direitos reservados</footer>
    <!-- Botão para subir ao topo da página -->
    <div class="button-up">
        <img src='"/images/backTop.png' width="" height="" alt="" id="">    
    </div>
</body>
   
</html>