<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Projeto</title>
  </head>

  <body>
    <header>
      <div>
        <h1 href="#">Livraria para todos</h1>
        <p>Educação e cultura ao alcance de todos!</p>
      </div>
      <div class="login-link">
        <h4>Olá, seja bem vindo(a)!</h4>
        <p href="#">Entre ou cadastre-se</p>
      </div>
    </header>

    <nav>
      <ul class="nav-menu">
        <li href="#">Home</li>
        <li href="#">Pesquisa</li>
        <li href="#">Perfil</li>
        <li href="#">Sobre nós</li>
      </ul>
    </nav>

    <main>
      <section class="main">
        <h2>Meu Perfil</h2>
        <section class="box">
          <div class="foto_perfil">
            <img src="img/inuyasha.jpg" alt="Foto de Perfil" />
          </div>
          <div class="info">
            <h3>João Silva</h3>
            <p><strong>E-mail: </strong>joao.silva@hotmail.com</p>
            <p><strong>Telefone </strong>11 94152-7895</p>
            <p><strong>Local: </strong> São Paulo</p>
            <p><strong>Trocas realizadas: </strong>10</p>
            <p><strong>Reputação: </strong>5 estrelas</p>
            <button>Editar</button>
          </div>

          <div class="info">
            <p><strong>Trocas realizadas: </strong>10</p>
            <p><strong>Reputação: </strong>5 estrelas</p>
          </div>
        </section>

        <h2>Livros para trocas</h2>
        <div class="box_troca">
          <div class="books">
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
          </div>
        </div>

        <h2>Livros que quero</h2>
        <div class="box_troca">
          <div class="books">
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
           
            
            
            
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="img/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
          </div>

        </div>
      </section>
    </main>

    <footer>
      <p>© Copyright 2021 por Grupo 5 da DH. Todos os direitos reservados</p>
    </footer>
  </body>
</html>
