<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/setup.css" />
    <link rel='stylesheet' href="/stylesheets/perfil.css" />
    <title>Livraria</title>
  </head>

  <body>
    <%- include("./partials/header") %>

    <main>
      <section class="main">
        <h2>Meu Perfil</h2>
        <section class="box">
          <div class="foto_perfil">
            <img src="/images/perfil.png" alt="Foto de Perfil" />
          </div>
          <div class="info">
            <h3>João Silva</h3>
            <p><strong>E-mail: </strong>joao.silva@hotmail.com</p>
            <p><strong>Telefone </strong>11 94152-7895</p>
            <p><strong>Local: </strong> São Paulo</p>
            <p><strong>Trocas realizadas: </strong>10</p>
            <p><strong>Reputação: </strong>5 estrelas</p>
            <button>Editar</button>
          </div>

          <div class="info">
            <p><strong>Trocas realizadas: </strong>10</p>
            <p><strong>Reputação: </strong>5 estrelas</p>
          </div>
        </section>

        <h2>Livros para trocas</h2>
        <div class="box_troca">
          <div class="books">
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
          </div>
        </div>

        <h2>Livros que quero</h2>
        <div class="box_troca">
          <div class="books">
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>

            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
            <div class="book_box">
              <img src="/images/coraline.png" alt="Livro" />
              <p>Coraline - Neil Gaiman</p>
              <button>Trocar</button>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("./partials/footer") %>
  </body>
</html>
