<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link rel="stylesheet" href="/stylesheets/setup.css">
    <link rel="shortcut icon" href="../Images/favicon-32x32.png" />
    <title>Livraria para Todos</title>
</head>
<!-- A estruturação foi feita a partir do ensinado na pagina do Mozilla DEV:
https://developer.mozilla.org/pt-BR/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure  -->
<body>
    <%- include("./partials/header") %>

    <main>
<!-- Dentro no MAIN ficaram a barra de pesquisa, o Resultado de Pesquisa e Os mais procurados 
    (que receberam uma classe chamada 'suggestions-book')   -->
        <form>
            <input type="search" name="q" placeholder="O que você deseja ler?">
            <div>
                <input type="submit" value="">
            </div>
        </form>

        <section class="search-results">
            <h2>Resultados da Pesquisa</h2>
            <!-- Cada imagem e botão receberam o mesmo container para continuarem juntos quando for criado
            o site responsivo  -->
            <div class="imagens-container">
                <img src="../images/harryPotterEAPredraFilosofal.webp" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEAsReliquiasDaMorte.jpg" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEoCaliceDeFogo.webp" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEOPrisioneiroDeAzkabam.jpg" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEOEnigmaDoPrinpe.jpg" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
        </section>


        <section class="suggestions-book">
            <h2>Os Mais Procurados</h2>
            <div class="imagens-container">
                <img src="../images/harryPotterEAPredraFilosofal.webp" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEAsReliquiasDaMorte.jpg" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEoCaliceDeFogo.webp" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEOPrisioneiroDeAzkabam.jpg" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
            <div class="imagens-container">
                <img src="../images/harryPotterEOEnigmaDoPrinpe.jpg" width="" height="" alt="" id="">
                <p class="book-name">Harry Potter</p>
                <p class="author-name">J.K. Rowling</p>
                <p class='bottom'>TROCAR</p>
            </div>
        </section>


    </main>
    <%- include("./partials/footer") %>
</body>

</html>
