<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <title>Livraria para Todos</title>
</head>
<body>
    <header class="menu">
        <div>
            <h1 class="titulo" href="#">Livraria para todos</h1>
            <p class="subtitulo">Educação e cultura ao alcance de todos!</p>
        </div>
        <div class="login-link">
            <h4>Olá, seja bem vindo(a)!</h4>
            <p href="#">Entre ou cadastre-se</p>

        </div>
    </header>

    <nav>
        <ul class="nav-menu">
            <li href="#">Home</li>
            <li href="#">Pesquisa</li>
            <li href="#">Perfil</li>
            <li href="#">Sobre nós</li>
        </ul>


        <!-- menu-mini-nav-->
        <ul>
            <li>Filmes e series</li>
            <li> Infantis</li>
            <li>Geek</li>
            <li>Estudos</li>
            <li>Religiosos</li>
            <li>Ficção</li>
        </ul>

    </nav>

    <section>
        <div id="img-text">
        <p>Sobre Nós</p>
        <h2>Quem Nós Somos</h2>

            <h5>
                A partir de 2014 fora de nossa oficina familiar em Como, Itália; nós nos associamos com 8 companheiros artigiani ou artesãos italianos , todos muito ansiosos para mostrar sua herança artesanal e designs essenciais. (leia mais em Nossos artesãos )

De pontas com bainhas à mão a ombros costurados à mão, nossos artesãos criam todas as roupas e acessórios da 40 Colori de acordo com os mais altos padrões de qualidade para criar peças de uso diário para uma elegância casual atemporal.

Para que isso aconteça, fornecemos a eles a tela para se transformarem em sua próxima criação. Viajamos pela Itália, visitando fábricas e comerciantes para encontrar os melhores tecidos e fios, garantindo que sejam naturais, coloridos e de origem responsável. (leia mais em Nossos Materiais )
            </h5>

            <h2> Como Trabalhamos </h2>

            <h5>
                Optamos por um modelo de distribuição direto ao artesão focado em serviços sob medida e customizados para garantir que produzamos o máximo possível o que é necessário exatamente como o cliente final precisa, com menos compromissos e desperdício de recursos. Tudo com preços honestos, porque uma compra mais significativa não deve ser um luxo. (leia mais em Nossa Abordagem e Qualidade Ética )

Compre agora nossa coleção básica de designs atemporais que realmente amamos. Nossa coleção básica raramente está disponível imediatamente e sempre disponível sob demanda. Qualquer coisa que não estiver em estoque, você pode fazer sob encomenda e nossos artesãos irão fabricar qualquer tamanho ou estilo esgotado exclusivamente para você em 3-6 semanas. (leia mais em Feito sob encomenda )

Se você está se sentindo criativo ou não consegue encontrar o estilo ou ajuste que procura, nossa oferta personalizada é a resposta. Com nossos serviços Custom Made e Made to Measure, você pode customizar nossos designs e fazer com que nossos artesãos elaborem cada peça ou acessório exatamente como você deseja, com sua perfeição, sem comprometer o estilo ou o caimento! Visite-nos em nossa loja Bloomsbury para desfrutar da experiência completa de 40 Colori! Como alternativa, reserve uma consulta online para começar seu projeto personalizado. (leia mais em Custom Made ) (leia mais em Made to Measure )
            </h5>

            
        </div>

        
    </section>
<nav>
    
        <ul class="img-baixo">
            <li>
        <img src="seulivromereceleitores.jpg" width="350">
        <p>vamos te ajudar a trocar seu livro</p>
    </li>
    <li>
        <img src="trocalivro2.jpg" width="320">
        <p>vamos te ajudar a trocar seu livro</p>
    </li>
    <li>
        <img src="trocalivro.jpg" width="380">
        <p>vamos te ajudar a trocar seu livro</p>
    </li>
        </ul>
</nav>
<footer>©Copyright 2021 por Grupo 5 da DH. Todos os direitos reservados</footer>
    <div class="button-up">
    <img src='http://raw.githubusercontent.com/danilowsm/livrariaDeTodos/main/Images/backTop.png' width="" height="" alt="" id="">
</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap');
</style>