.formWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
}

.formWrapper > form > *{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.formWrapper > form > div > input{
    margin-left: 1rem;
}

.formInput {
    justify-content: center !important;
}

.signup, .login {
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 10px;
}

main {
    background-color: #fafafa;
}