@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
  background-color: #009dac;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

header div h1 {
  font-size: 50px;
  padding-left: 50px;
  padding-top: 15px;
}

header div p {
  font-size: 15px;
  padding-left: 130px;
}

header .login-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

header .login-link h4 {
  font-size: 20px;
  padding-right: 10px;
  padding-top: 20px;
}

header .login-link p {
  font-size: 15px;
  padding-right: 130px;
}

/*menu de navegação*/
nav .nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: #038591;
  color: #fff;
  font-size: 20px;
  height: 40px;
}

/*MAIN*/

main h2 {
  text-align: center;
  margin-top: 15px;
}

.box {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.foto_perfil {
  width: 20%;
}

.foto_perfil img {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.info {
  margin: 10px 10px;
  padding: 10px 0 0 30px;
  text-align: justify;
  width: 40%;
}

.info h3 {
  font-size: 25px;
  padding-bottom: 10px;
}

.info p {
  font-size: 15;
  padding-bottom: 3px;
}

.info button {
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -17px 17px -4px rgba(0, 0, 0, 0.06);
  transition-duration: 0.7s;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  margin-top: 10px;
}

.info button:hover {
  box-shadow: -10px 0px 13px -7px #009dac, 10px 0px 13px -7px #009dac,
    -11px -17px 17px -4px rgba(148, 146, 146, 0.06);
}

.box_troca {
  margin-top: 20px;
  width: 60%;
  margin: auto;
  background-color: #ffffff;
}

.books {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.book_box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.book_box p {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
}

.book_box button {
  padding: 20px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -11px -17px 17px -4px rgba(0, 0, 0, 0.06);
  transition-duration: 0.7s;
  cursor: pointer;
  text-transform: uppercase;
}

.book_box button:hover {
  box-shadow: -10px 0px 13px -7px #009dac, 10px 0px 13px -7px #009dac,
    -11px -17px 17px -4px rgba(148, 146, 146, 0.06);
}

footer {
  background: linear-gradient(#038591, #7e86dd);
  color: #fff;
  margin-top: 20px;
  height: 10px;
  padding: 40px;
  text-align: center;
}
